.address {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 83px;
}

.address__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: 0 auto 42px auto;
}

.address__icon {
  background: #eeeeee url("../img/icon-address.svg") no-repeat center top;
  width: 20px;
  height: 30px;
  margin: 0 16px 0 0;
  flex: none;
}

.address__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #50220f;
  margin: 0;
}

.address__privacy {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fd9f32;
  margin: 0 auto 10px auto;
}

.address__rights {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #776157;
  margin: 0 auto;
}
