.application {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    grid-column: ~"1/-1";
    grid-row: ~"3/4";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 5%;
  }
}

.application__input {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  font-family: "Mulish", sans-serif;
  color: #664b42;
  background-color: #f2ede6;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 10px 16px 40px;

  @media (min-width: 768px) {
    width: auto;
    margin: 0 0 24px 0;
  }
}

.application__name {
  @media (min-width: 768px) {
    grid-column: ~"1/2";
    grid-row: ~"1/2";
  }
}

.application__phone {
  @media (min-width: 768px) {
    grid-column: ~"1/2";
    grid-row: ~"2/3";
  }
}

.application__mail {
  @media (min-width: 768px) {
    grid-column: ~"1/2";
    grid-row: ~"3/4";
  }
}

.application__comments {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  font-family: "Mulish", sans-serif;
  background-color: #f2ede6;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 10px 16px 40px;

  @media (min-width: 768px) {
    grid-column: ~"2/3";
    grid-row: ~"1/4";
    width: auto;
    margin: 0 0 24px 0;
  }
}

.application__wrapper {
  margin: 0 0 40px 0;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: 768px) {
    grid-column: ~"1/-1";
    grid-row: ~"4/5";
    justify-content: center;
    margin: 7px 0 47px 0;
    z-index: 2;
  }
}

.application__chek {
  display: none;
  position: absolute;
}

.application__chek + .application__label::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 25px 0 0;
  background-color: #fd9f32;
  border-radius: 4px;
  vertical-align: middle;
  border: solid 2px #ffffff;
  cursor: pointer;
}

.application__chek:checked + .application__label::before {
  background: #fd9f32 url("../img/icon-chek.svg") no-repeat center center;
  cursor: pointer;
}

.application__label {
  color: #ffffff;

  @media (min-width: 768px) {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }
}

.application__label a {
  color: #ffffff;

  @media (min-width: 768px) {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }
}

.application__button {
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  background-color: #fd9f32;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  margin: 0 0 48px 0;
  padding: 16px 0 16px 0;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  box-shadow: 13px 4px 30px #cbad9573;

  @media (min-width: 768px) {
    grid-column: ~"1/-1";
    grid-row: ~"5/6";
    width: 20%;
    justify-self: center;
    margin: 0 0 85px 0;
  }
}
