.cards {
  width: 90%;
  margin: 0 auto 0 auto;
}

.cards__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.cards__item {
  background-color: #f4eee5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 12px auto;
  padding: 12px 0 21px 0;
  width: 45%;
}

.cards__image {
  width: 134px;
  height: 118px;
  margin: auto;
}

.cards__text {
  margin: 0 auto 0 auto;
  font-weight: 700;
  font-size: 18px;
  color: #1c1616;
  width: 70%;
}

.cards__image--semolina {
  background: #f4eee5 url("../img/mobile-grain-1.jpg") no-repeat center top;

}

.cards__item--wheat {
  background: #f4eee5 url("../img/mobile-grain-2.jpg") no-repeat center top;
}

.cards__image--rye {
  background: #f4eee5 url("../img/mobile-grain-3.jpg") no-repeat center top;
}

.cards__image--bran {
  background: #f4eee5 url("../img/mobile-grain-4.jpg") no-repeat center top;
}

.cards__image--wastes {
  background: #f4eee5 url("../img/mobile-grain-5.jpg") no-repeat center top;
}
