.clearing {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
  }

  @media (min-width: 1920px) {
    grid-template-columns: 45% 27.5% auto;
    grid-template-rows: auto;
  }
}

.clearing::after {
  @media (min-width: 1920px) {
    content: "";
    position: absolute;
    top: 2590px;
    left: 26%;
    background: #ffffff url("../img/clearing-vector-2.svg") no-repeat center top;
    width: 780px;
    height: 313px;
    z-index: -2;
  }
}

.clearing__note {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    z-index: 5;
    top: 2790px;
    right: 3%;
    display: flex;
    flex-direction: column;
    background: #ffffff url("../img/clearing-note.png") no-repeat center top;
    width: 240px;
    height: 112px;
  }

  @media (min-width: 1920px) {
    grid-column: ~"3/4";
    grid-row: ~"1/2";
    position: static;
    margin: 187px auto auto 85px;
  }
}

.clearing__note::after {
  @media (min-width: 1920px) {
    content: "";
    position: absolute;
    top: 2935px;
    left: 69%;
    background: #ffffff url("../img/clearing-vector-1.svg") no-repeat center top;
    width: 173px;
    height: 40px;
  }
}

.clearing__note-title {
  @media (min-width: 768px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #50220f;
    margin: 20px auto 8px 19px;
  }
}

.clearing__note-text {
  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #664b42;
    margin: 0 auto auto 19px;
  }
}

.clearing__image {
  background: #ffffff url("../img/bag-1.png") no-repeat center top;
  width: 273px;
  height: 248px;
  margin: 100px auto 20px auto;

  @media (min-width: 768px) {
    background: #ffffff url("../img/bag-1-tablet.png") no-repeat center top;
    width: 437px;
    height: 397px;
    grid-column: ~"2/3";
    grid-row: ~"1/-1";
    margin: 130px 0 50px 0;
  }

  @media (min-width: 1920px) {
    background: #ffffff url("../img/bag-1-desktop.png") no-repeat center top;
    width: 525px;
    height: 477px;
    grid-column: ~"2/3";
    grid-row: ~"1/2";
  }
}

.clearing__title {
  @media (min-width: 768px) {
    grid-column: ~"1/2";
    grid-row: ~"1/-1";
    margin: 291px auto 16px 5%;
  }

  @media (min-width: 1920px) {
    grid-column: ~"1/2";
    grid-row: ~"1/2";
    margin: 300px 170px auto auto;
  }
}

.clearing__text {
  margin-bottom: 45px;

  @media (min-width: 768px) {
    grid-column: ~"1/2";
    grid-row: ~"1/-1";
    margin: 343px auto auto 5%;
    width: 90%;
  }

  @media (min-width: 1920px) {
    grid-column: ~"1/2";
    grid-row: ~"1/2";
    margin: 360px 97px auto auto;
    width: 40%;
  }
}

.clearing__text::after {
  @media (min-width: 1920px) {
    content: "";
    position: absolute;
    top: 3090px;
    left: 26%;
    background: #ffffff url("../img/clearing-vector-3.svg") no-repeat center top;
    width: 2px;
    height: 102px;
  }
}
