.intro {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.intro__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.intro__logo {
  margin: 0 0 0 5%;
  position: relative;
  top: 12px;
}

.intro__title {
  color: #b69d86;
  margin: 60px 5% auto 5%;
}

.intro__title span {
  color: #fd9f32;
}
