.intro {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.intro__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.intro__logo {
  margin: 0 0 0 5%;
  position: relative;
  top: 12px;

  @media (min-width: 768px) {
    width: 197px;
    height: 252px;
    margin: 0 0 0 2%;
  }
}

.intro__title {
  color: #b69d86;
  margin: 60px auto auto 20px;

  @media (min-width: 768px) {
    font-weight: 800;
    font-size: 55px;
    line-height: 95%;
    width: 70%;
    margin: 104px auto auto 16px;
  }
}

.intro__title span {
  color: #fd9f32;
}
