.intro {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;

  @media (min-width: 1920px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 3% 140px 3%;
    column-gap: 3.5%;
  }
}

.intro__wrapper {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: 1920px) {
    grid-column: ~"1/-1";
    grid-row: ~"1/2";
  }
}

.intro__logo {
  margin: 0 0 0 5%;
  position: relative;
  top: 12px;

  @media (min-width: 1024px) {
    width: 197px;
    height: 252px;
    margin: 0 0 0 3%;
  }

  @media (min-width: 1920px) {
    margin: 0 0 0 1.5%;
  }
}

.intro__title {
  color: #b69d86;
  margin: 60px auto auto 20px;

  @media (min-width: 1024px) {
    font-weight: 800;
    font-size: 55px;
    line-height: 95%;
    width: 70%;
    margin: 104px auto auto 16px;
  }

  @media (min-width: 1920px) {
    margin: 65px auto auto 16px;
    width: 40%;
  }
}

.intro__title span {
  color: #fd9f32;
}
