
.lines {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 157px 140px;
  }

  @media (min-width: 1920px) {
    grid-template-rows: auto auto;
  }
}

.lines__title {
  margin: 37px 0 16px 5%;

  @media (min-width: 768px) {
    grid-column: ~"2/3";
    grid-row: ~"1/2";
    align-self: flex-end;
  }

  @media (min-width: 1920px) {
    margin: auto auto 16px 149px;
  }
}

.lines__text {
  margin: 0 0 30px 5%;

  @media (min-width: 768px) {
    grid-column: ~"2/3";
    grid-row: ~"2/3";
    width: 75%;
  }

  @media (min-width: 1920px) {
    margin: 0 auto auto 149px;
    width: 40%;
  }
}

.lines__image {
  background: #ffffff url("../img/content-2.png") no-repeat center top;
  width: 100%;
  height: 200px;

  @media (min-width: 768px) {
    background: #ffffff url("../img/content-2-tablet.png") no-repeat center top;
    grid-column: ~"1/2";
    grid-row: ~"1/-1";
    height: 297px;
  }

  @media (min-width: 1920px) {
    background: #fafafa url("../img/content-2-desktop.jpg") no-repeat center top;
    height: 449px;
    justify-content: flex-end;
  }
}
