.page-footer {
  background-color: #ece2d4;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 18% auto 30%;
    grid-template-rows: 50% 70px 48px auto;
    padding: 35px 3% 31px 3%;
  }
}

.page-footer__logo-tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
    background: #ece2d4 url("../img/footer-logo-tablet.png") no-repeat center top;
    width: 168px;
    height: 107px;
    grid-column: ~"1/2";
    grid-row: ~"1/2";
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 14px 5% 28px 5%;

  @media (min-width: 768px) {
    grid-column: ~"3/4";
    grid-row: ~"2/3";
    margin: 0;
    height: auto;
  }
}

.page-footer__logo {
  background: #ece2d4 url("../img/footer-logo.png") no-repeat center top;
  width: 105px;
  height: 68px;
  margin: 0 auto 0 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
}

.page-footer__phone {
  margin: 0 0 0 auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #664b42;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.page-footer__mail {
  margin: 8px 0 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #664b42;
  cursor: pointer;

  @media (min-width: 768px) {
    margin: 5px auto 0 0;
    font-weight: 600;
    font-size: 22px;
  }
}

.page-footer__aliexpress {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #664b42;
  margin: 0 auto 24px auto;

  @media (min-width: 768px) {
    grid-column: ~"3/4";
    grid-row: ~"4/5";
    margin: 16px 12% 0 auto;
  }
}

.page-footer__list {
  list-style-type: none;
  padding: 0 5%;
  margin: 0 0 49px 0;

  @media (min-width: 768px) {
    grid-column: ~"2/4";
    grid-row: ~"1/2";
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 0 130px;
  }
}

.page-footer__item {
  border-bottom: 1px solid #664b42;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  @media (min-width: 768px) {
    border: none;
    margin: 0 70px 0 0;
  }
}

.page-footer__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #664b42;
  margin: 0 0 4px 0;
  padding: 12px 0 12px 0;
  grid-column: ~"1/2";
  grid-row: ~"1/2";

  @media (min-width: 768px) {
    padding: 0;
    margin: 0 0 16px 0;
  }
}

.page-footer__icon {
  background: #ece2d4 url("../img/icon-vector.svg") no-repeat center center;
  width: 26px;
  height: 26px;
  margin: auto 0 auto auto;
  grid-column: ~"2/3";
  grid-row: ~"1/2";

  @media (min-width: 768px) {
    display: none;
  }
}

.page-footer__article {
  padding: 12px 0 12px 12px;
  background-color: #ffffff;
  margin: 0 0 4px 0;
  cursor: pointer;

  @media (min-width: 768px) {
    background-color: #ece2d4;
    padding: 0;
    margin: 0 0 8px 0;
  }
}

.page-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #664b42;
  text-decoration-line: underline;
}

.page-footer__checklist {
  list-style-type: none;
  padding: 0;
  grid-column: ~"1/-1";
  grid-row: ~"2/3";
}
