.preview {
  display: flex;
  flex-direction: column;
}

.preview__video {
  margin: 15px auto 20px auto;
}

.preview__title {
  color: #50220f;
  font-weight: 700;
  font-size: 18px;
  margin: 0 25% 10px 5%;
}

.preview__text {
  font-weight: 500;
  font-size: 14px;
  color: #776157;
  margin: 0 5% 10px 5%;
}

.preview__link {
  margin: 0 auto 58px auto;
  text-decoration: none;
  color: #fd9f32;
  font-weight: 700;
  font-size: 18px;
}
