.slider {
  display: flex;
  flex-direction: column;
  background: #fafafa url("../img/background-1.png") no-repeat center top;
  width: auto;
  height: auto;

  @media (min-width: 768px) {
    background: #fafafa url("../img/background-1-tablet.png") no-repeat center top;
  }

  @media (min-width: 1920px) {
    grid-column: ~"1/2";
    grid-row: ~"2/3";
    background: #fafafa url("../img/background-1-desktop.png") no-repeat center top;
    width: 1173px;
    height: 481px;
  }
}

.slider__pagination {
  margin: 68px auto 0 0;
  display: flex;
  position: relative;
  left: 13%;

  @media (min-width: 1920px) {
    left: 0;
    margin: 68px auto 0 86px;
  }
}

.slider__pag {
  position: relative;
  content: "";
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #b69d86;
  display: inline-block;
  margin-right: 22px;
}

.slider__pag:hover {
  cursor: pointer;
}

.slider__pag--active {
  background-color: #fd9f32;
}

.slider__pag--active::after {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  border: 0.5px solid #fd9f32;
  border-radius: 50%;
  display: inline-block;
  top: -12px;
  left: -16px;
}

.slider__title {
  margin: 16px 10% 8px 10%;
  color: #664b42;
  font-weight: 800;
  font-size: 22px;

  @media (min-width: 768px) {
    width: 34%;
    margin: 24px auto 8px 12%;
    font-size: 26px;
  }

  @media (min-width: 1920px) {
    margin: 39px auto 16px 86px;
    font-size: 36px;
    width: 42%;
  }
}

.slider__text {
  font-weight: 500;
  font-size: 18px;
  color: #664b42;
  margin: 0 10% 24px 10%;

  @media (min-width: 768px) {
    width: 24%;
    margin: 0 auto 32px 12%;
    font-weight: 700;
  }

  @media (min-width: 1920px) {
    font-weight: 600;
    font-size: 22px;
    margin: 0 auto 32px 86px;
    width: 25%;
  }
}

.slider__button {
  border: none;
  background-color: #fd9f32;
  color: #ffffff;
  width: 60%;
  margin: 0 auto 210px auto;
  padding: 16px 26px;
  border-radius: 6px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 13px 4px 30px #cbad9573;

  @media (min-width: 768px) {
    width: 24%;
    margin: 0 auto 65px 12%;
  }

  @media (min-width: 1920px) {
    width: 20%;
    margin: 0 auto 126px 86px;
  }
}

.slider__button:hover {
  box-shadow: 3px 4px 30px #cbad95cc, 13px 4px 30px #cbad9573;
}
