.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social__item {
  width: 32px;
  height: 32px;
  background-color: #fafafa;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.social__item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.social__item--tg {
  background: url("../img/icon-telegram.svg");

  @media (min-width: 768px) {
    background: url("../img/icon-telegram-tablet.svg");
  }
}

.social__item--vk {
  background: url("../img/icon-vk.svg");

  @media (min-width: 768px) {
    background: url("../img/icon-vk-tablet.svg");
  }
}

.social__item--instagram {
  background: url("../img/icon-instagram.svg");

  @media (min-width: 768px) {
    background: url("../img/icon-instagram-tablet.svg");
  }
}

.social__item--mail {
  background: url("../img/icon-mail.svg");

  @media (min-width: 768px) {
    background: url("../img/icon-mail-tablet.svg");
  }
}

.social__item--youtube {
  background: url("../img/icon-youtube.svg");

  @media (min-width: 768px) {
    background: url("../img/icon-youtube-tablet.svg");
  }
}

.social li:not(:nth-child(5n)) {
  margin-right: 20px;

  @media (min-width: 768px) {
    margin-right: 8px;
  }
}

.social__link {
  width: 32px;
  height: 32px;
}

.social--footer {
  padding: 0;
  margin: 0 auto 24px auto;

  @media (min-width: 768px) {
    grid-column: ~"3/4";
    grid-row: ~"3/4";
    margin: 0;
    justify-self: flex-start;
    align-self: flex-end;
  }

  @media (min-width: 1920px) {
    grid-column: ~"3/4";
    grid-row: ~"2/3";
  }
}


.social--footer li:not(:nth-child(5n)) {
  margin: 0 20px 0 0;
}

.social--footer .social__item--tg {
  @media (min-width: 768px) {
    background: url("../img/icon-telegram.svg");
    width: 32px;
    height: 32px;
  }
}

.social--footer .social__item--vk {
  @media (min-width: 768px) {
    background: url("../img/icon-vk.svg");
    width: 32px;
    height: 32px;
  }
}

.social--footer .social__item--instagram {
  @media (min-width: 768px) {
    background: url("../img/icon-instagram.svg");
    width: 32px;
    height: 32px;
  }
}

.social--footer .social__item--mail {
  @media (min-width: 768px) {
    background: url("../img/icon-mail.svg");
    width: 32px;
    height: 32px;
  }
}

.social--footer .social__item--youtube {
  @media (min-width: 768px) {
    background: url("../img/icon-youtube.svg");
    width: 32px;
    height: 32px;
  }
}
