.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social__item {
  width: 32px;
  height: 32px;
  background-color: #fafafa;
  background-position: center center;
  background-repeat: no-repeat;
}

.social__item--tg {
  background: url("../img/icon-telegram.svg");
}

.social__item--vk {
  background: url("../img/icon-vk.svg");
}

.social__item--instagram {
  background: url("../img/icon-instagram.svg");
}

.social__item--mail {
  background: url("../img/icon-mail.svg");
}

.social__item--youtube {
  background: url("../img/icon-youtube.svg");
}

.social li:not(:nth-child(5n)) {
  margin-right: 20px;
}

.social__link {
  width: 32px;
  height: 32px;
}
