.types__note {
  background-color: #f4eee5;
  margin: 59px 5% 100px 23%;
  padding: 38px 24px;
  border-radius: 10px;
}

.types__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  font-family: "Mulish", sans-serif;
  margin: 0 0 8px 0;
  color: #50220f;
}

.types__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #664b42;
  font-family: "Mulish", sans-serif;
}
