.way {
  display: flex;
  flex-direction: column;
  margin: 88px 0 0 0;
  width: 100%;

  @media (min-width: 1024px) {
    margin: 84px 0 0 0;
  }

  @media (min-width: 1920px) {
    margin: 120px 0 0 0;
  }
}

.way__header {
  width: 80%;
  margin: 0 auto 100px auto;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  color: #664b42;
  line-height: 100%;

  @media (min-width: 1024px) {
    font-size: 44px;
  }

  @media (min-width: 1920px) {
    margin: 0 auto 30px auto;
  }
}

.way__list {
  list-style-type: none;
  padding: 0;

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.way__item {
  display: flex;
  flex-direction: column;
}

.way__title {
  font-weight: 700;
  font-size: 26px;
  color: #664b42;
  margin: 0 auto 16px 5%;

  @media (min-width: 1024px) {
    font-size: 36px;
    font-weight: 800;
  }
}

.way__text {
  font-weight: 500;
  font-size: 16px;
  color: #664b42;
  margin: 0 auto 0 5%;
  line-height: 130%;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 120%;
  }
}

.way__button {
  border: none;
  background-color: #fd9f32;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 26px;
  border-radius: 6px;
  line-height: 120%;
  font-family: "Mulish", sans-serif;
}
